/* Stili di base */
html {
    color: white;
    background-color: black;
    font-family: Arial, sans-serif; 
}

body {
    padding: 0;
    margin: 0;
    background-image: url('../assets/background.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    position: relative; /* Aggiunto position relative per gestire gli z-index */
}

/* Bottone principale */
#controlButton {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000; /* Z-index maggiore rispetto ai pannelli */
    background-color: #4CAF50;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border-radius: 20px; /* Bordi più rotondi */
    outline: none;
    transition: background-color 0.3s ease;
}

#InformationButton {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 10000; /* Z-index maggiore rispetto ai pannelli */
    background-color: #4CAF50;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border-radius: 20px; /* Bordi più rotondi */
    outline: none;
    transition: background-color 0.3s ease;
}

#controlButton:hover, #InformationButton:hover {
    background-color: #45a049; 
}

/* Pannello pop-up */
#controlPanel, #InformationPanel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Z-index superiore ai bottoni */
    background-color: rgba(117, 117, 117, 0.383); /* Sfondo semi-trasparente */
    padding: 20px;
    box-sizing: border-box;
    width: 300px;
    max-width: 80%; /* Massima larghezza del pannello */
    overflow-y: auto;
    display: none; /* Inizialmente nascosto */
    border-radius: 20px; /* Bordi più rotondi */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombra per effetto di sollevamento */
}

#controlPanel.open, #InformationPanel.open {
    display: block; /* Mostra il pannello quando è aperto */
}

/* Titoli del pannello */
#controlPanel h2, #InformationPanel h2 {
    font-size: 24px;
    margin-bottom: 1em;
    text-align: center;
    color: #fff; /* Testo bianco */
}

/* Contenuto del pannello */
#controlPanel .control-group, #InformationPanel .control-group {
    margin-bottom: 1.5em;
}

/* Singoli controlli nel pannello */
#controlPanel .control, #InformationPanel .control {
    margin-bottom: 1em;
}

/* Etichette dei controlli nel pannello */
#controlPanel label, #InformationPanel label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 16px;
    color: #fff; /* Testo bianco */
}

/* Input, select e file input nel pannello */
#controlPanel input[type="checkbox"], #controlPanel input[type="range"], #controlPanel select, #controlPanel input[type="file"],
#InformationPanel input[type="checkbox"], #InformationPanel input[type="range"], #InformationPanel select, #InformationPanel input[type="file"] {
    width: calc(100% - 16px);
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #eee;
    font-size: 14px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

#controlPanel input[type="checkbox"]:hover, #controlPanel input[type="range"]:hover, #controlPanel select:hover, #controlPanel input[type="file"]:hover,
#InformationPanel input[type="checkbox"]:hover, #InformationPanel input[type="range"]:hover, #InformationPanel select:hover, #InformationPanel input[type="file"]:hover {
    background-color: #ddd;
}

/* File input nel pannello */
#controlPanel #obj, #InformationPanel #obj {
    margin-top: 0.5em;
}

/* Dropdown select nel pannello */
#controlPanel select, #InformationPanel select {
    width: calc(100% - 12px);
    padding: 10px;
    background-color: #eee;
    transition: background-color 0.3s ease;
}

#controlPanel select:hover, #InformationPanel select:hover {
    background-color: #ddd;
}
